.label p {
font-size: 150%; /*--edite tamanho da fonte--*/
background: #353434; /*--edite cor de fundo--*/
border: 1px solid #000; /*--edite cor e estilo de borda--*/
margin-top: 30px;
padding: 10px;
width:90%;
text-decoration:none;
}
.label p a:link{
color:#FFFFFF; /*--edite cor do link do titulo--*/
text-decoration:none;
}
.label p a:hover{
color:#CCCCCC; /*--edite cor do link do titulo--*/
}
.label li {
margin:0;
border-bottom:1px dashed #CCCCCC; /*--edite cor e estilo de borda--*/
}
